import React, { useEffect, useState } from 'react';
import { useParams } from 'react-router-dom';
import { getProductById } from '../lib/firebase'; // Asegúrate de tener esta función para obtener el producto por su id

const ProductDetail = () => {
  const { id } = useParams(); // Obtener el id del producto desde la URL
  const [product, setProduct] = useState(null);

  useEffect(() => {
    // Llamar a la función para obtener el producto por su id
    const fetchProduct = async () => {
      const fetchedProduct = await getProductById(id);
      setProduct(fetchedProduct);
    };

    fetchProduct();
  }, [id]);

  if (!product) {
    return <p>Cargando...</p>;
  }

  return (
    <div className="product-detail">
      <img src={product.imagen} alt={product.nombre} />
      <h2>{product.nombre}</h2>
      <p className="description">{product.descripcion1}</p>
      <p className="price">S/.{product.precio}</p>
    </div>
  );
};

export default ProductDetail;
